:root {
  --header-font: "Unbounded", sans-serif;
  --body-font: "Manrope";
  --condensed-font: "Sofia Sans Condensed", sans-serif;
  
    --officeblue: #346174;
    --skyblue: var(--officeblue);
  --deepblue: #065990;
  --mandarin: #f4af48;
  --orange:#F5C857;
  --sunray: #eae4b3;
  --canvas: rgb(238, 249, 255);
  --deep-green: #2b383a;
  --gap: 20px;
  --pad: 5px;
  --bigger-pad: 25px;
  --pace: 25s;
  --projopacity: 0.5;
  --backimage: url(images/plant3.jpg);
  --isLight: false;
}
body {
  background-color: var(--canvas);
  


  color: var(--deep-green);
  font-family: var(--body-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  gap: 35px;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  font-size: 18px;
  letter-spacing: 0px;
  /*grid-template-columns: min-content auto;*/
  /*background-image: var(--backimage);*/
  gap: var(--gap);
  transition: all 2s ease-in;


 
}

.labothlano {
  font-family: var(--body-font);
  letter-spacing: -4px;
}

body nav  {
  position: fixed;
  top: 0;

  width: calc(100vw - (40px));
  padding: 10px 20px;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: left;
  align-items: center;
  background-color: var(--canvas);
  z-index: 10;
  transition: background-color 0.2s ease-in-out;
 
}

body nav ul {
  padding: 0px;
  margin: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  text-decoration: none;
}
nav a {
   text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 5px;
}

a {
  text-decoration: underline;
}

a:hover {
  background-color: var(--orange);
  cursor: pointer;
}

p {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}
.highlight {

  background-color: var(--sunray);
  padding: 2px 5px;
}

button {
  background-color: transparent;
  border: var(--canvas) 1px solid;
  padding: 10px 20px;
  border-radius: 25px;
  color: var(--canvas);
  font-family: var(--body-font);
  font-size: 16px;
  cursor: pointer;
  transition: scale 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
  transition: font-weight 0.5s ease-in-out;
}

button:hover {
  background-color: var(--officeblue);
  scale: 1.05;
  font-weight: 900;
  transition: scale 0.5s ease-in-out;
transition: border 0.5s ease-in-out;

  transition: font-weight 0.5s ease-in-out;
  
}

h1 {
  margin: 0;
  padding: 0;
  letter-spacing: -3px;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: var(--header-font);
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: var(--canvas);
  line-height: 55px;
}

h2 span {
   -webkit-text-stroke: var(--mandarin) 1px solid;
  font-weight: 900;
  color: white;
  font-size: 60px;
  
}

h3 {

  background-color: var(--sunray);
  display: inline;
  margin: 0;
  padding: 0 5px;
  font-size: 55px;
  font-weight: 200;
  font-family: var(--condensed-font);
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 65px;
  
}



h4 {
  margin: 0;
  padding:10px;
  font-family: var(--header-font);
}
h5 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}
section.content-block {
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 750px;

}


section.content-block div.container {
  width: 700px;
  min-height: 100%;
  padding: var(--pad);
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  
}

.two-column {
  display: grid;
  grid-template-columns: auto auto;
  gap:20px;
}



/* 🔮 Animations */
@keyframes project1 {
  0% {
    transform: scale(1);
    opacity: var(--projopacity);
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes project2 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: var(--projopacity);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes project3 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: var(--projopacity);
  }
}

@keyframes title {
  25% {
    color: var(--complementary);
  }
  50% {
    background-color: var(--complementary);
    color: var(--light);
  }
  75% {
    background-color: transparent;
    color: var(--complementary);
  }
  100% {
    color: var(--light);
  }
}

footer {
  display: flex;
  flex-direction: column;
  
  width: calc(100vw - 2*(var(--bigger-pad)));
  height: fit-content;
  justify-items: center;
  align-items: center;
  background-color: var(--deep-green);
  color: var(--canvas);
  padding: var(--bigger-pad);
  padding-bottom: 70px;
  padding-top: 70px;
}
footer div.footer-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
section#home {
  background-image: url(images/cloud.jpg);
  background-attachment: fixed;
  background-size: cover;
  
  align-items: end;
  height: 100vh;
}

section#home div.container {
  flex-direction: column;
  justify-content: center;
  
  gap: 20px;
  
}
section#about {
  

}
section#about .founder-card {

  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

section#about div.container {
  flex-direction: column;
  text-align: center;
  gap: 95px;
}

section#about div.container div.quote-container{
display: flex;
gap: 20px;
}
section#about div.container p.quote {
  font-size: 20px;
  font-style: italic;
  line-height: 25px;
 
}
section#about div.container .founder-card {
  border: 1px solid var(--deep-green);
  border-radius: 111px;
  padding: 10px;
}

section#about div.container .founder-card {
  padding-right: 30px;
}

section#about div.container .founder-card img {
border-radius: 50%; 

}
section#background-mission-vision {
  background-color: var(--skyblue);
  color: var(--canvas);
  letter-spacing: 0px;
} section#background-mission-vision h3{
  color: var(--canvas);
}

section#background-mission-vision div.container {
  display: grid;
  gap: 25px;
  align-items: center;
  grid-template-columns: 1fr 1fr;

}

section#background-mission-vision div.container p {
margin-top: 5px;
}
section#background-mission-vision div.container div {
 
}

section#background-mission-vision div.container h3 {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  line-height: 45px;
}
section#background-mission-vision div.container h3 span {
  font-weight: 500;
}
section#services {
   border-top: var(--deep-green) 1px dashed;
   border-bottom: var(--deep-green) 1px dashed;

}
section#services div.container {
 
flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  padding: 20px;
 
}

section#services div.container ul {
  list-style-type: circle;
}
section#services div.container div.info-container {
   height: 700px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 25px;
  align-items:  center;
  transition: width 1s ease-in-out;
}

section#services div.container div.info-container div {
  min-width: max-content;
  transition: width 1s ease-in-out;
}
section#services div.container div.info-container div.inactive p {
  transition: display 1s ease-in-out;
  display: none
}
section#services div.container div.info-container div.inactive ul {
  display: none
}

section#services div.container div.info-container div.inactive h4 {
  display: none
}

section#services div.container div.info-container div.inactive h5 {
  display: none
}
section#services div.container div.info-container div.inactive h3 {
  background-color: transparent;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  font-weight: 400;
  text-transform: none;
  width: max-content;
  display: block;
}
section#services div.container div.info-container div.inactive h3:hover {
  cursor: pointer;
  text-decoration: underline;
}
section#services h2 {
  color: var(--deep-green);
 
}

section#services div.container div.info-container div.active {
  width: auto;
}
section#services div.container div.info-container div.active ul{
  display: block;
}

section#services div.container div.info-container div.active p{
  display: block;
}

section#services #ldiap div.two-column h5 {
align-self: center;
justify-content: center;
text-align: right;
}

section#partners {
  background-image:url(images/cloud2.jpg);
  background-size: cover;
  justify-content: center;
  transition: height 1s ease-in-out;
  color: var(--canvas);
}

section#partners a img {
  height: 50px;
  width: 50px;
  transition: height 1s ease-in-out;
}

section#partners div.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: height 1s ease-in-out;
}

section#partners ul#partner-carousel {
  list-style: none;
  display: flex;
  flex-direction: column;
  height:200px;
  width: 400px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  transition: height 1s ease-in-out;
}

section#partners ul#partner-carousel li {
  height: 0px;
  opacity: 0;
    width: auto;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease-in-out;
}



section#partners ul#partner-carousel li.active {
   
  

  height: 100%;
  padding: 10px;
  opacity: 1;
   transition: height 1s ease-in-out;
}

section#partners ul#partner-carousel li.active img {

  width: 300px;
   transition: height 1s ease-in-out;
}

section#contact div.container {
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

section#contact div.container h2 {
  color: var(--deep-green);
}

section#contact div.container div.contact-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}
section#contact div.container {
  
}
section#contact div.container div.contact-grid form {
  align-self: left;
  text-align: left;
  min-width: 300px;
}

section#contact div.container div.contact-grid form input, 
section#contact div.container div.contact-grid form textarea {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--canvas);
  border: var(--deep-green) 1px solid;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 15px;
}

section#contact div.container div.contact-grid form input:hover, 
section#contact div.container div.contact-grid form textarea:hover {
  
}

@media screen and (max-width: 800px) {
  body {
    font-size: 17px;
  }
  h1 {
    display: none;
    font-size: 50px;
    font-weight: 700;
    
  }

  h3 {
    
  }
  body nav {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    padding-top: 50px;
    background-color: transparent;
    color: var(--canvas);
  }

  body nav ul {
    width: min-content;
    gap: 10px;
  }
  body nav ul li a:hover {
    background-color: transparent;

  }
  section.content-block div.container {
    width: 80vw;
  }
  section#about {
    height: 1000px;
  }
  section#about div.container {
    gap: 50px;
  }
  section#about div.container .founder-card {
    flex-direction: column;
    border-radius: 0px;
    padding: 20px;
    width: 300px;
    border-radius: 171px 171px 0px 0px ;
  }
section#about div.container .founder-card img {
    border-radius: 50%;

    width: 300px;
  }

  section#about div.container .founder-card  p {
    width: 300px;
    margin-bottom: 0px;
     margin-top: 0px;
  } 

    section#background-mission-vision {
      
    height: min-content
    }
  section#background-mission-vision div.container h3 {
    font-size: 60px;
    line-height: 50px;
  }
  section#background-mission-vision div.container {
    grid-template-columns: 1fr;
    gap:0px;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  section#services div.container div.info-container {
    flex-direction: column;
    height: auto;
  }
    section#partners div.container{
      flex-direction: column;
    }
    section#partners div.container div.logo-container{
      grid-row: 1/2;
    }
    section#partners div.container a{
      display: none;
    }

  section#partners div.container div.logo-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
  section#contact div.container div.contact-grid {
    grid-template-columns: 1fr;
  }
}
